#navInsideProject {
    position: fixed;
    top: 44px;
    left: 321px;
    height: 167px;
    width: 50px;
    padding-top: 3vh;
/*    border: 1px solid red;*/
}
#projectHeader img {
    border: none;
}

#one-image img {
    position: fixed;
    top: 44px;
    left: 350px;
    margin: 0;
    margin-left: 39.84vh;
    max-height: 85vh;
    width: auto;
    padding: 0;
    margin-top: 3vh;
/*    padding-top: 3vh;*/
    
}

.box {
    width: 8.2vh;
    height: 8.2vh;
    margin: -6px;
    margin-left: 0;
    padding: 0;
}
#navInsideProject a:first-child {
    margin-top: 0;
}



#viewedProject {
    border: 1px solid black;
    z-index: 2;
}