@charset "utf-8";
div.container {
    width: 800px;
}
div {
    margin-top: 60px;
    float: left;
}
div#middle {
    margin-left: 20px;
    margin-right: 20px;
}
p {
    margin-top: 0;
    font-size: 13px;
    text-align: right;
}
article {
    clear: none;
    position: relative;

}
article p {
    position: absolute;
    display: inline;
    width: 229px;
    color: #fff;
    z-index: -2;
}

article p a {
    color: #fff;
}

div img {
    border: 1px solid black;
}

div article img {
    border: none;
}




