@charset "utf-8";
body {
    overflow-x: visible;
}

.images {
    padding-top: 44px;
    width: 7500px;
    height: 100%;
  
}

img {
    margin: 2px;
	border: 1px solid #A0A0A0;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    padding: 0;
 }

.upperImages, .lowerImages, .container {
    margin: 0;
    padding: 0;
    position: relative;
}

.lowerImages {
    margin-top: 3px;
/*    border: 1px solid red;*/
}

/*
.upperImages div{
    position: absolute;
    bottom: 0;
}
*/

.upperImages img {
    vertical-align:bottom;
 }
.lowerImages img {
    vertical-align:top;
 }

.container {
    display: inline-block;
/*    border: 1px solid red;*/
    
}

#pianoTrajectory {
    position: absolute;
    right: 0;
}