@charset "utf-8";
header  {
	position: fixed;
}
header h1 {
	font-size: 1.3em;
	margin-top: auto;
	width: 30%;
	padding-top: 5%;
}
nav li {
	clear: none;
	float: none;
	color: #7D7D7D;
	margin-left: 0px;
	width: auto;
	padding-top: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	text-align: right;
	display: inline;
}
li {
	list-style-type: none;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	text-align: justify;
}
a {
	text-decoration: none;
	color: #6E6E6E;
}
body {
	color: #6E6E6E;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: rgba(56,56,56,1.00);
}
section {
	float: left;
	margin-right: 0em;
	width: auto;
}
section h1 {
	font-size: 1em;
	text-align: left;
	font-weight: normal;
}
nav {
	margin-left: 0.5em;
	text-align: right;
	width: auto;
	vertical-align: baseline;
}
.title {
	font-style: italic;
}
section li {
	text-indent: -48px;
}
.publications_img {
}
section ul {
	width: 38em;
	margin-top: 0em;
	margin-left: 0em;
	text-align: left;
}
nav a:hover {
	color: #000000;
}
section.map {
	color: #000000;
	padding-top: 16em;
	margin-bottom: 0px;
}
address   {
	margin-bottom: 2em;
}
.map a {
	margin-top: 10em;
	padding-top: 10em;
}
.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 30px;
    white-space:nowrap
}
.images{
	width: 2000px;
	height: 250px;
	
}

.images img {
    margin: 2px;
    cursor: pointer;
	border: 1px solid grey;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:bottom;
 }
#press {
    owerflow: scroll;
}



@media (max-height:11px){
}
