@charset "utf-8";

p {
    position: absolute;
    bottom: 0;
    width: 20%;
    display: inline-block;
    padding-bottom: 3%;
}
img {
    padding-left: 23%;
    position: absolute;
    bottom: 0;
    max-height: 86vh;
    width: auto;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 3%;
}
body {
    height: 98vh;
}
#abc {
    display: block;
    position: absolute;
    bottom: 3%;
}