body {
    overflow-y: hidden;
}

.images {
    padding-top: 5vh;
}
.images section{
    margin-top:3px;
    margin-bottom: 0%;
    padding: 0%;
    width: 1500px;
    overflow-x: visible;
}

.images section a {
    margin: 2px;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    padding: 0;
    max-height: 43vh;
 }

.lowerImages{
	margin-top: 0px;
    padding: 0;
}
.upperImages {
    margin-bottom: 0;
}
.upperImages a {
    vertical-align:bottom;
 }
.lowerImages a {
    vertical-align:top;
 }


img, div {
  margin: 0;
  padding: 0;
}




       
