#sub-project-container {
    position: fixed;
    top: 42px;
    left: 320px;
    display: inline-block;
    width: 500px;           /*set by javascript */
/*    border: 1px solid black;*/
    padding-top: 3vh;
    
}

#sub-project-container nav {
    width: 100%;
    height: 100%;
    display: inline;
}

#previous, #next {
    position: absolute;
    width: 30px;
    height: 85vh;
/*    border: 1px solid red;*/
    width: 50%;
   
}
#previous {
    cursor:url(images/l-arrow.png), auto;
    left: 0;
}

#next {
    cursor:url(images/r-arrow.png), auto;
    right: 0;
}

#mainImage {
    max-height: 85vh;
    width: auto;
    display: block;
    margin: auto;
    border: none;
    
}
