@charset "utf-8";
p {
    position: fixed;
    bottom: 0;
    width: 20%;
    display: inline-block;
    padding-bottom: 3%;
}
img {
    padding-left: 23%;
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 5%;
    padding-bottom: 4%;
    z-index: -1;
}

