{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Hanging{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2003, coat hangers, copper wire &amp; acrylic on board, 105 x 143.5 cm
         <br>
         private collection, France{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}hanging{% endblock %}



