{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Hold 355{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2011, C-type print [edition of 7], 102 x 153 cm
             <br>
             private collection, France{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}hold{% endblock %}



