{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Preserve{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2005, acrylic, metal &amp; plastic on board, framed: 67 x 67 cm
             <br>
             private collection, UK{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}preserve{% endblock %}



