{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Smote 163{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2011, C-type print [edition of 7], 153 x 102 cm
             <br>
             private collection, Australia{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}smote{% endblock %}



