{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Stampede, detail{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2001, staples, acrylic &amp; collage on board, framed: 41 x 55.5 cm
             <br>
             private collection, UK{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}stampede{% endblock %}



