{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Tablet - R{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2011, acrylic &amp; plastic on board, framed: 36 x 34 cm
             <br>
             private collection, Norway{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}tablet_r{% endblock %}