{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Tamper{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2005, acrylic &amp; plastic on board, 59.5 x 59.5 cm
             <br>
             private collection, Netherlands{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}tamper{% endblock %}



