{% extends 'single-photo-sub-project.html' %}

{% block subProjectTitle %}Track &amp; Field 6{% endblock %}

{% block subProjectAlt %}""{% endblock %}

{% block subProjectAuthor %}<a href="http://www.jonathanmeyerart.com" target="_blank">Jonathan Meyer</a>{% endblock %}

{% block subProjectInfo %}2003, acrylic &amp; collage on board, 23 x 24 cm
             <br>
             private collection, Canada{% endblock %}


{% block aboutProject %}
{% endblock %}

{% block subProjectImgName %}track-field{% endblock %}



