{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Dissembling Chance, 2014{% endblock %}

{% block subProjectAlt %}"Photo of Dissembling Chance"{% endblock %}

{% block subProjectAuthor %}Gergely Kovacs{% endblock %}

{% block subProjectInfo %}ink on paper: 80.6 x 58.4 cm
<br>
private collection, UK
{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"chance2.html"{% endblock %}

{% block prevProjectHref %}"chance3.html"{% endblock %}

{% block subProjectImgName %}chance1{% endblock %}



