<!DOCTYPE html>
<html class="html" lang="en-US">
     <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

         <link rel="shortcut icon" href="../images/favicon.ico?373000845"/>
         
         <link href="../css/global.css" rel="stylesheet" type="text/css">
         <link href="../css/projects.css" rel="stylesheet" type="text/css">

         <title>Projects</title>
     </head>

     <body>
         <header id="mainHeader"><h1>hughes meyer studio</h1>
            <div id="hamburgerMenu">&#9776</div>
             <nav id="mainNav">
                 <ul>
                     <li><a href="../index.html">projects</a></li>
                     <li><a href="../publications.html">publications</a></li>
                     <li><a href="../press.html">press</a></li>
                     <li><a href="../about.html">about</a></li>
                     <li><a href="../contact.html">contact</a></li>
                 </ul>
             </nav>
         </header>
         <article id="side">
             <header id="projectHeader">
                 <img src="../images/projects/{% block mainProjectFolder %}{% endblock %}/cover-main.jpg" alt={% block mainProjectCoverAlt %}{% endblock %}/>
                 <h2>{% block mainProjectTitle %}{% endblock %}</h2>
                 <p>{% block mainProjectPublisher %}{% endblock %}</p>
                 <p>{% block mainProjectAuthor %}{% endblock %}
                 </p>
             </header>
             
             <p id="aboutProject">{% block mainProjectAbout %}{% endblock %}
             </p>
         </article>


         <div id="grid">
            {% block subProjects %}{% endblock %} 

         </div>
         
         <script src="../js/jquery.min.js"></script>
         <script src="../js/all.js"></script>
     </body>
</html>