{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}‘Sculpture – Casting of Equestrian Statues’, from L’Encyclopédie of Diderot and d’Alembert, 1771, showing the air holes, irrigation and drainage conduits for lost wax casting.{% endblock %}

{% block subProjectAlt %}"air holes, irrigation and drainage conduits for lost wax casting"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"concrete.html"{% endblock %}

{% block prevProjectHref %}"sketchpad.html"{% endblock %}

{% block subProjectImgName %}casting{% endblock %}