{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}Concrete slump test.{% endblock %}

{% block subProjectAlt %}"Photograph of concrete slump test"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"loadingtest.html"{% endblock %}

{% block prevProjectHref %}"casting.html"{% endblock %}

{% block subProjectImgName %}concrete{% endblock %}