{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}The Blechschmidt collection in The Institute of Anatomy, University of Göttingen, 1963–4. 64 models of human embryos, each on average 75 cm tall{% endblock %}

{% block subProjectAlt %}"photo of models of human embryos"{% endblock %}

{% block subProjectAuthor %}Photograph by professor Gerd Steding.{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"sketchpad.html"{% endblock %}

{% block prevProjectHref %}"fullstop.html"{% endblock %}

{% block subProjectImgName %}embryos{% endblock %}