{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}The mark of a full-stop{% endblock %}

{% block subProjectAlt %}"The mark of a full-stop"{% endblock %}

{% block subProjectAuthor %}Robert Hooke{% endblock %}

{% block subProjectInfo %}Micrographia, 1665{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"embryos.html"{% endblock %}

{% block prevProjectHref %}"needle.html"{% endblock %}

{% block subProjectImgName %}fullstop{% endblock %}