{% extends 'main-project.html' %}


{% block mainProjectFolder %}architecture-of-error{% endblock %}

{% block mainProjectCoverAlt %}Cover of the book: 'The Architecture of Error'{% endblock %}

{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block mainProjectAuthor %}Francesca Hughes{% endblock %}

{% block mainProjectAbout %}
When architects draw even brick walls to six decimal places with software designed to cut lenses, it is clear that the logic that once organized relations between precision and material error in construction has unraveled. Precision, already a promiscuous term, seems now to have been uncoupled from its contract with truthfulness. Meanwhile error, and the always-political space of its dissent, has reconfigured itself.
 
In The Architecture of Error Francesca Hughes argues that behind the architect’s acute fetishization of redundant precision lies a special fear of physical error. What if we were to consider the pivotal cultural and technological transformations of modernism to have been driven not so much by the causes its narratives declare, she asks, as by an unspoken horror of loss of control over error, material life, and everything that matter stands for? Hughes traces the rising intolerance of material vagaries—from the removal of ornament to digitalized fabrication—that produced the blind rejection of organic materials, the proliferation of material testing, and the rhetorical obstacles that blighted cybernetics. Why is it, she asks, that the more we cornered physical error, the more we feared it?
 
Hughes’s analysis of redundant precision exposes an architecture of fear whose politics must be called into question. Proposing error as a new category for architectural thought, Hughes draws on other disciplines and practices that have interrogated precision and failure, citing the work of scientists Nancy Cartwright and Evelyn Fox Keller and visual artists Gordon Matta-Clark, Barbara Hepworth, Rachel Whiteread, and others. These non-architect practitioners, she argues, show that error need not be excluded and precision can be made accountable.
<br>
<a href="http://mitpress.mit.edu/books/architecture-error">http://mitpress.mit.edu/books/architecture-error</a>

{% endblock %}

{% block subProjects %}
<a href="fokker.html" class="mainProjectGridBlock onHoverShowCaptionContainer" id="BOX">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/fokker.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>Photograph from Fokker factory
            </p>
        </span>
     </a>

     <a href="needle.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/needle.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3>Robert Hooke</h3>
            <p>
                The point of a needle
            </p>
        </span>
     </a>

     <a href="fullstop.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/fullstop.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3>Robert Hooke</h3>
            <p>
                The mark of a full-stop
            </p>
        </span>
     </a>

     <a href="embryos.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/embryos.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3>Gerd Steding</h3>
            <p>
                The Blechschmidt collection in The Institute of Anatomy
            </p>
        </span>
     </a>

     <a href="sketchpad.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/sketchpad.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Frame enlargement from Computer Sketchpad
            </p>
        </span>
     </a>

     <a href="casting.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/casting.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Sculpture – Casting of Equestrian Statues
            </p>
        </span>
     </a>

     <a href="concrete.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/concrete.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Concrete slump test
            </p>
        </span>
     </a>

     <a href="loadingtest.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/loadingtest.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Photograph from Fokker factory showing Junker’s influence of the thick airfoil with a plywood stressed skin, here in a loading test.
            </p>
        </span>
     </a>

     <a href="wings.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/wings.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                The wings of Howard Hughes' "Spruce Goose" 
            </p>
        </span>
     </a>

     <a href="manandcomputer.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/manandcomputer.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Frame enlargements from Man and Computer
            </p>
        </span>
     </a>

      <a href="usafhangar.html" class="mainProjectGridBlock onHoverShowCaptionContainer">
        <img class="onHoverShowCaptionImg" src="../images/projects/architecture-of-error/grid/usafhangar.jpg"  alt=""/>
        <span class="onHoverShowCaptionCaption">
            <h3></h3>
            <p>
                Konrad Wachsmann with the large-scale model of his proposed (steel) USAF hangar from 1959
            </p>
        </span>
     </a>
{% endblock %} 
