{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}Photograph from Fokker factory showing Junker’s influence of the thick airfoil with a plywood stressed skin, here in a loading test.{% endblock %}

{% block subProjectAlt %}"Photograph from Fokker factory showing Junker’s influence of the thick airfoil with a plywood stressed skin, here in a loading test."{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"wings.html"{% endblock %}

{% block prevProjectHref %}"concrete.html"{% endblock %}

{% block subProjectImgName %}loadingtest{% endblock %}