<!DOCTYPE html>
<html class="html" lang="en-US">
     <head>
         <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
         <link rel="shortcut icon" href="../images/favicon.ico?373000845"/>
         <link href="../css/global.css" rel="stylesheet" type="text/css">
         <link href="../css/main-projects.css" rel="stylesheet" type="text/css">

         <title>Projects</title>
     </head>

     <body>
         <header id="mainHeader"><h1>hughes meyer studio</h1>
             <nav id="mainNav">
                 <ul>
                     <li><a href="../index.html">projects</a></li>
                     <li><a href="../publications.html">publications</a></li>
                     <li><a href="../press.html">press</a></li>
                     <li><a href="../about.html">about</a></li>
                     <li><a href="../contact.html">contact</a></li>
                 </ul>
             </nav>
         </header>
         <article id="side">
             <header id="projectHeader">
                 <img src="../images/projects/{% block mainProjectFolder %}{% endblock %}/cover-main.jpg" alt={% block mainProjectCoverAlt %}{% endblock %}/>
                 <h2>{% block mainProjectTitle %}{% endblock %}</h2>
                 <p>{% block mainProjectPublisher %}{% endblock %}</p>
                 <p>{% block mainProjectAuthor %}{% endblock %}
                 </p>
             </header>
             
             <p id="aboutProject">{% block mainProjectAbout %}{% endblock %}
             </p>
         </article>


         <div id="grid">
            {% block subProjects %}{% endblock %} 

         </div>
         
         
         <script src="../js/jquery.min.js"></script>
         <script src="../js/three-line-menu.js"></script>
         <script src="../js/font-sizeScaling.js"></script>
         <script src="../js/optimize-grid-layout.js"></script>
         <script src="../js/project-partial-scroll.js"></script>

         
     </body>
</html>