{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}Frame enlargements from Man and Computer, Dir Peter de  Normanville, 1967, 20 mins{% endblock %}

{% block subProjectAlt %}"Frame enlargements from Man and Computer, Dir Peter de  Normanville, 1967, 20 mins"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"usafhangar.html"{% endblock %}

{% block prevProjectHref %}"wings.html"{% endblock %}

{% block subProjectImgName %}manandcomputer{% endblock %}