{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}The point of a needle{% endblock %}

{% block subProjectAlt %}"The point of a needle"{% endblock %}

{% block subProjectAuthor %}Robert Hooke{% endblock %}

{% block subProjectInfo %}Micrographia, 1665{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"fullstop.html"{% endblock %}

{% block prevProjectHref %}"fokker.html"{% endblock %}

{% block subProjectImgName %}needle{% endblock %}