{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}Frame enlargement from Computer Sketchpad, 1963: “Two miles wide”.{% endblock %}

{% block subProjectAlt %}"Frame enlargement from Computer Sketchpad"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"casting.html"{% endblock %}

{% block prevProjectHref %}"embryos.html"{% endblock %}

{% block subProjectImgName %}sketchpad{% endblock %}