<!DOCTYPE html>
<html class="html" lang="en-US">
     <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

         <link rel="shortcut icon" href="../images/favicon.ico?373000845"/>
         
         <link href="../css/global.css" rel="stylesheet" type="text/css">
         <link href="../css/projects.css" rel="stylesheet" type="text/css">
         
         <title>Projects</title>
     </head>
    
    
     <body>
         <header id="mainHeader"><h1>hughes meyer studio</h1>
              <nav id="mainNav">
                  <ul>
                      <li><a href="../index.html">projects</a></li>
                      <li><a href="../publications.html">publications</a></li>
                      <li><a href="../press.html">press</a></li>
                      <li><a href="../about.html">about</a></li>
                      <li><a href="../contact.html">contact</a></li>
                 </ul>
             </nav>
         </header>
         
         <article id="side">
          
             <header id="projectHeader">
                 <a href="index.html" title="The Architecture of Error main page">
                    <img src="../images/projects/{% block mainProjectFolder %}{% endblock %}/cover.jpg" class = "subCover" alt={% block coverImageAlt %}{% endblock %}/>
                 </a>

                 <h2>{% block subProjectTitle %}{% endblock %}</h2>
                 <p>{% block subProjectAuthor %}{% endblock %}
                 <br>
                 {% block subProjectInfo %}{% endblock %}
                 </p>

             </header>
 
             <p id="aboutProject">
             {% block aboutProject %}{% endblock %}
             </p>
      
         </article>
         
        
     <div id="sub-project-container">
         <nav>
             <a id="previous" href={% block prevProjectHref %}{% endblock %} title="view previous project"></a>
             <a id="next" href={% block nextProjectHref %}{% endblock %} title="view next project"></a>
         </nav>

         
   
         <img {% block zoomId %}{% endblock %} src="../images/projects/{% block mainProjectFolder %}{% endblock %}/{% block subProjectImgName %}{% endblock %}.jpg" alt={% block subProjectAlt %}{% endblock %} {% block zoomSrc %}{% endblock %} />            
  

         
     </div>
         
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="../js/three-line-menu.js"></script>
     <script src="../js/jquery.elevatezoom.js"></script>
     <script src="../js/imageZoom.js"></script>
     <script src="../js/sub-project-div-width.js"></script>
     <script src="../js/project-partial-scroll.js"></script>
     </body>
</html>