{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}Konrad Wachsmann with the large-scale model of his proposed (steel) USAF hangar from 1959{% endblock %}

{% block subProjectAlt %}"Konrad Wachsmann with the large-scale model of his proposed (steel) USAF hangar from 1959"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"fokker.html"{% endblock %}

{% block prevProjectHref %}"manandcomputer.html"{% endblock %}

{% block subProjectImgName %}usafhangar{% endblock %}