{% extends 'sub-project.html' %}



{% block mainProjectTitle %}The Architecture of Error:
<br>
Matter, Measure, and the Misadventures of Precision
{% endblock %}

{% block mainProjectPublisher %}The MIT Press, 2014{% endblock %}

{% block coverImageAlt %}"The Architecture of Error cover"{% endblock %}

{% block mainProjectFolder %}architecture-of-error{% endblock %}



{% block subProjectTitle %}The wings of Howard Hughes' "Spruce Goose" (made mainly of laminated birch) being transported to Culver City, California, 13 June 1946. Hughes flew the The Spruce Goose, the largest wooden aircraft ever made, on its maiden and only voyage in which it left the water surface for 1 minute at 20m altitude across long beach harbour.{% endblock %}

{% block subProjectAlt %}"Photograph of The wings of Howard Hughes' "Spruce Goose" (made mainly of laminated birch) being transported to Culver City, California"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"manandcomputer.html"{% endblock %}

{% block prevProjectHref %}"loadingtest.html"{% endblock %}

{% block subProjectImgName %}wings{% endblock %}