{% extends 'drawings-sub-project.html' %}


{% block subProjectTitle %}The Sisyphean Engine of Reconstruction or the Perpetual Rebuilding of the Agrigento’s Ancient City{% endblock %}

{% block subProjectAlt %}"The Sisyphean Engine of Reconstruction or the Perpetual Rebuilding of the Agrigento’s Ancient City"{% endblock %}

{% block subProjectAuthor %}Theo Wyatt Petrides{% endblock %}

{% block subProjectInfo %}2010, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}Plan and choreography <br>
‘The gods had condemned Sisyphus to ceaselessly rolling a rock to the top of a mountain, whence the stone would fall back of its own weight. They had thought with some reason that there is no more dreadful punishment than futile and hopeless labour.’ Albert Camus, The Myth of Sisyphus 
It is possible to calculate, with varying degrees of indeterminacy, the original position and orientation of each stone that has fallen from Agrigento’s ancient city wall.  Any computer analysis of this data will necessarily create multiple potential ‘true’ arrangements for restoration. In this allegory of the Sisyphean futility of our attempts to reconstruct the classical world, Petrides proposes that the fallen boulders of the ruined city wall should be eternally rearranged in the landscape by machine and man.
{% endblock %}


{% block nextProjectHref %}"verne.html"{% endblock %}

{% block prevProjectHref %}"neutrality.html"{% endblock %}

{% block subProjectImgName %}ancientcity{% endblock %}


