{% extends 'sub-project.html' %}


{% block hoverOnCoverAppearingText %}Drawings that Count main page{% endblock %}
{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}A Spatio-Temporal Plan:The Society of the Colosseum{% endblock %}

{% block subProjectAlt %}"A Spatio-Temporal Plan:The Society of the Colosseum"{% endblock %}

{% block subProjectAuthor %}Gergely Kovács{% endblock %}

{% block subProjectInfo %}2009, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Within the confines of its walls, the Colosseum – a seminal engine of power – generated well-choreographed social orders: relative height, distance, angle, proximity and view were all carefully engineered. Kovács’ temporal mapping of the Colosseum extricates a social hierarchy based on the time it took for various members of Roman society – from senators to slaves – to occupy their designated seats.
{% endblock %}


{% block nextProjectHref %}"turnerhomage.html"{% endblock %}

{% block prevProjectHref %}"unionstockyards.html"{% endblock %}

{% block subProjectImgName %}colosseum{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/colosseum.jpg"{% endblock %}   


