{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}




{% block subProjectTitle %}Panama Canal Futures Exchange: Sculpting in Time{% endblock %}

{% block subProjectAlt %}"Panama Canal Futures Exchange: Sculpting in Time"{% endblock %}

{% block subProjectAuthor %}Sang Hoon Oh{% endblock %}

{% block subProjectInfo %}2006, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
The waiting time in international waters at either end of the canal is relocated to the centre of the transit through locks in Gatun Lake. Thus in this drawing of time, transit and space, the canal’s middle swells with waiting: the site of trading.
{% endblock %}


{% block nextProjectHref %}"smallrock.html"{% endblock %}

{% block prevProjectHref %}"vernecalculator.html"{% endblock %}

{% block subProjectImgName %}futuresexchange{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/futuresexchange.jpg"{% endblock %}   

