{% extends 'sub-project.html' %}



{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %}"Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Cartography of RelativeIndeterminacy: Hannibal’s Alpine Passage{% endblock %}

{% block subProjectAlt %}"Cartography of RelativeIndeterminacy: Hannibal’s Alpine Passage"{% endblock %}

{% block subProjectAuthor %}Karl Kjelstrup-Johnson{% endblock %}

{% block subProjectInfo %}2009, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Kjelstrup-Johnson maps a landscape of relative indeterminacy/determinacy for the Alpine topography using the ‘marching day’ in Livy’s account of the passage as a space–time unit. Each square is one marching day, with size indicating the difficulty of the terrain crossed: a big square means easy conditions, a small one more difficult routes. Embedded in this model is a semi-indeterminate event-network in which known instances – such as setting frozen rocks on fire, losing yet another elephant or skirmishes with hostile tribes – mediate with each other in order to establish the most likely ‘optimised’ route.
{% endblock %}


{% block nextProjectHref %}"ancientcity.html"{% endblock %}

{% block prevProjectHref %}"merdeglace.html"{% endblock %}

{% block subProjectImgName %}hannibalpassage{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/hannibalpassage.jpg"{% endblock %}   


