{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Studies in Inversion: Inversion of a Generic Grid{% endblock %}

{% block subProjectAlt %}"Studies in Inversion: Inversion of a Generic Grid"{% endblock %}

{% block subProjectAuthor %}Gergely Kovács{% endblock %}

{% block subProjectInfo %}2009, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Inversive geometry constitutes an alternate space (a mapping of Euclidean space through the transformation of inversion) that allows for the resolution of mathematical problems that could not be solved in Euclidean space. The axis of inversion, unlike the axis of symmetry, is a circle of finite radius. It not only divides space but encloses it and sets up an outside and an inside. It flips the relation of these two domains by mapping the space inside the circle outside, and vice versa.
{% endblock %}


{% block nextProjectHref %}"neutrality.html"{% endblock %}

{% block prevProjectHref %}"piranesi.html"{% endblock %}

{% block subProjectImgName %}inversion{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/inversion.jpg"{% endblock %}   


