{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Mer de Glace, 1910{% endblock %}

{% block subProjectAlt %}"Mer de Glace, 1910"{% endblock %}

{% block subProjectAuthor %}Auguste Couttet{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"hannibalpassage.html"{% endblock %}

{% block prevProjectHref %}"smallrock.html"{% endblock %}

{% block subProjectImgName %}merdeglace{% endblock %}
   

