{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Lessons from Piranesi I{% endblock %}

{% block subProjectAlt %}"Lessons from Piranesi I"{% endblock %}

{% block subProjectAuthor %}Gergely Kovács{% endblock %}

{% block subProjectInfo %}2009, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Kovács’ digital forensics into the construction of Piranesi’s famous fish-eye perspective of the Colosseum suggests that the artist notionally unrolled the structure into a linear element and then projected it back upon a curved picture plane. The line is thus found embedded in the circle. Here the process is extrapolated to its logical conclusion: as the Colosseum’s radius tightens, it is turned inside out. The result is a highly political inversion of an ancient engine of power.
{% endblock %}


{% block nextProjectHref %}"inversion.html"{% endblock %}

{% block prevProjectHref %}"ancientcity.html"{% endblock %}

{% block subProjectImgName %}piranesi{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/piranesi.jpg"{% endblock %}   


