{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Get Lost: A Qanat Park for Palermo{% endblock %}

{% block subProjectAlt %}"Get Lost: A Qanat Park for Palermo"{% endblock %}

{% block subProjectAuthor %}Sayaka Namba{% endblock %}

{% block subProjectInfo %}2010, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Sectional detail through true and misnavigated paths 
Jules Verne’s Journey to the Centre of the Earth is, amongst other things, a portrait of the collapse of navigational paradigms and their attendant technologies. As the party explore deeper into the Earth’s cavernous interior, their instruments and their magnetic and thermal orientation strategies fail: North appears everywhere, the centre of the Earth is mysteriously cooler. Hopelessly lost, and dying of thirst, they strike through a rockface in an attempt to reach an underground river. Only then do they realise that the water gushing through at their feet, like all liquids, knows the way down. Namba’s proposal to restore the eleventh-century Arab underground water channels (qanats) of Palermo as a space of public misnavigation engineers the collapse of orientation in order to explore the pleasures of getting lost and the expansion of psychic space this brings.
{% endblock %}


{% block nextProjectHref %}"vernecalculator.html"{% endblock %}

{% block prevProjectHref %}"verne.html"{% endblock %}

{% block subProjectImgName %}qanat{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/qanat.jpg"{% endblock %}   
