{% extends 'drawings-sub-project.html' %}

{% block subProjectTitle %}Writing Architecture in the Gap between the Countable and the Calculated{% endblock %}

{% block subProjectAlt %}"Writing Architecture in the Gap between the Countable and the Calculated"{% endblock %}

{% block subProjectAuthor %}Fusako Ishikawa{% endblock %}

{% block subProjectInfo %}2010, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
The process of mass indexing central to the nineteenth century laid the foundations for the twentieth-century’s relations between the countable and the calculated – just in time for Wittgenstein’s seminal crisis on the matter. Ishikawa’s analysis of the friction incurred in Babbage’s Difference Engine reveals that the amount of energy and time expended on a given calculation relates to the chosen route of the function through the space of the machine. That is, the commutative law does not stand when mechanised: 100 x 2 requires a lot more work than 2 x 100. Given that the mechanisation of calculation is simply the counting of cogs, the machines of Babbage, and of Leibniz before him, anticipate Wittgenstein’s famous doubts concerning the reliability of calculation and its slippery relations to counting or surveying: ‘And when I hold the ruler against the table, am I always measuring the table? Might I not sometimes be checking the ruler?’
{% endblock %}


{% block nextProjectHref %}"verne.html"{% endblock %}

{% block prevProjectHref %}"neutrality.html"{% endblock %}

{% block subProjectImgName %}gap{% endblock %}

