{% extends 'drawings-sub-project.html' %}

{% block subProjectTitle %}A Small Rock at the Top of the Hill = A Big Rock at the Bottom of the Hill{% endblock %}

{% block subProjectAlt %}"A Small Rock at the Top of the Hill = A Big Rock at the Bottom of the Hill"{% endblock %}

{% block subProjectAuthor %}Theo Wyatt Petrides{% endblock %}

{% block subProjectInfo %}2010, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Survey of the negative potential energy of the fallen rocks on Agrigento’s ancient ruined city wall. Within the closed system of Petrides’ restoration choreography, the relative potential energy of one fallen rock is used to raise another rock, so conserving mass and potential energy. Each rock, in its journey back up the slope, finds itself following a complex snakes-and-ladders itinerary.
{% endblock %}


{% block nextProjectHref %}"verne.html"{% endblock %}

{% block prevProjectHref %}"neutrality.html"{% endblock %}

{% block subProjectImgName %}smallrock{% endblock %}



