{% extends 'sub-project.html' %}

{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Perspectival Forensic Study, I, of JMW Turner’s Homage to Claude Lorrain’s Seaport with the Embarkation of the Queen of Sheba (1648), Dido Building Carthage (1851){% endblock %}

{% block subProjectAlt %}"Perspectival Forensic Study, I, of JMW Turner’s Homage to Claude Lorrain’s Seaport with the Embarkation of the Queen of Sheba (1648), Dido Building Carthage (1851)"{% endblock %}

{% block subProjectAuthor %}Angelo Sanghoon Han{% endblock %}

{% block subProjectInfo %}2009, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
Han’s analysis of Turner’s tribute to Lorrain finds it is not as faithful as it at first appears. While the architectural fragments in Lorrain’s Antique seaport are all located within the same vanishing point and sun angle, Turner’s fragments not only have their own vanishing points but are also subject to different sun angles: the space has splintered into multiple spatial and temporal domains. Within the space of Antiquity Turner quietly suggests that the subject is either not stationary, or is itself multiplicitous, a crowd.
{% endblock %}


{% block nextProjectHref %}"gap.html"{% endblock %}

{% block prevProjectHref %}"colosseum.html"{% endblock %}

{% block subProjectImgName %}turnerhomage{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/turnerhomage.jpg"{% endblock %}   
