{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Union Stock Yards, Chicago, Illinois,{% endblock %}

{% block subProjectAlt %}"Photographic print of Union Stock Yards, Chicago, Illinois"{% endblock %}

{% block subProjectAuthor %}Geo R Lawrence Co{% endblock %}

{% block subProjectInfo %}photographic print, gelatin silver, 1907, 20.5 x 49.5 inches{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"colosseum.html"{% endblock %}

{% block prevProjectHref %}"neutrality.html"{% endblock %}

{% block subProjectImgName %}unionstockyards{% endblock %}

