{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Illustration for Jules Verne’s 1864 Journey to the Centre of the Earth{% endblock %}

{% block subProjectAlt %}"Illustration for Jules Verne’s 1864 Journey to the Centre of the Earth"{% endblock %}

{% block subProjectAuthor %}Edouard Riou{% endblock %}

{% block subProjectInfo %}Engraving by Pannemaker, Gauchard, Maurand, 1867{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"qanat.html"{% endblock %}

{% block prevProjectHref %}"gap.html"{% endblock %}

{% block subProjectImgName %}verne{% endblock %}

