{% extends 'sub-project.html' %}


{% block mainProjectTitle %}Drawings that Count{% endblock %}

{% block mainProjectPublisher %}Architectural Association Publications, 2013{% endblock %}

{% block coverImageAlt %} "Drawings that count cover"{% endblock %}

{% block mainProjectFolder %}drawings-that-count{% endblock %}



{% block subProjectTitle %}Jules Verne’s Palaeontological Calculator{% endblock %}

{% block subProjectAlt %}"Jules Verne’s Palaeontological Calculator"{% endblock %}

{% block subProjectAuthor %}Fusako Ishikawa{% endblock %}

{% block subProjectInfo %}2010, Diploma Unit 15, Architectural Association{% endblock %}


{% block aboutProject %}
In Verne’s Journey to the Centre of the Earth, going down is literally going into the past, and space is read through the combined lens of geology and palaeontology. (Before carbon dating all palaeontologists had to be good geologists in order to date a find by its position in the strata.) In a central passage of the book, all geology disappears when the narrator crosses a dinosaur-filled subterranean ocean; in the absence of strata, Verne uses species identification to determine geological period and depth location. In the manner of Wittgenstein’s ‘Might I not use a table to measure a ruler?’ question, Ishikawa reconstructs the subterranean ocean landscape backwards from the species data, inverting the established relation between geology and palaeontology, using dinosaur-time to draw rock-time.
{% endblock %}


{% block nextProjectHref %}"futuresexchange.html"{% endblock %}

{% block prevProjectHref %}"qanat.html"{% endblock %}

{% block subProjectImgName %}vernecalculator{% endblock %}

{% block zoomId %}id="zoom"{% endblock %}

{% block zoomSrc %}data-zoom-image="../images/projects/drawings-that-count/zoom/vernecalculator.jpg"{% endblock %}   