@charset "utf-8";
#side div   {
    position: relative;
	top: 167px;
    display: inline;
}
#side a {
	margin-top: 15%;
	padding-top: 5%;
}
#side .icon {
    display: block;
    padding: 1%;
}
iframe {
    display: inline-block;
    position: fixed;
    left: 320px;
    width: 448px;
    height: 448px;
   top: 37px;
    padding-top: 3vh;
    border: 0;
}
#side {
    position: absolute;
    left: 0;
    top: 0;
    /*border: 1px solid green;*/
    width: 280px;
    min-height: 85vh;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 37px;
    z-index: 2;
    background-color: #fff;
}
