{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Artist Studio, 2004{% endblock %}

{% block subProjectAlt %}"Photo of Artist Studio"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}In construction, 2004{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"steamInsulation.html"{% endblock %}

{% block prevProjectHref %}"studio2.html"{% endblock %}

{% block subProjectImgName %}construction{% endblock %}



