{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Artist Studio, 2004{% endblock %}

{% block subProjectAlt %}"Photo of Artist Studio"{% endblock %}

{% block subProjectAuthor %}{% endblock %}

{% block subProjectInfo %}In construction, 2004{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"steamRender.html"{% endblock %}

{% block prevProjectHref %}"construction.html"{% endblock %}

{% block subProjectImgName %}steamInsulation{% endblock %}



