{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Design for Balfron Tower, Rowlett Street, Poplar, London: west elevation{% endblock %}

{% block subProjectAlt %}"Design for Balfron Tower"{% endblock %}

{% block subProjectAuthor %}Erno Goldfinger{% endblock %}

{% block subProjectInfo %}1965, Drawing{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"pianotrajectory.html"{% endblock %}

{% block prevProjectHref %}"aeolianPiano.html"{% endblock %}

{% block subProjectImgName %}balfron{% endblock %}



