{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Testing of the aerodynamic and acoustic properties of a grand piano at variable wind speeds in MIRA's wind tunnel, 2013.{% endblock %}

{% block subProjectAlt %}"Photo of testing of the aerodynamic and acoustic properties of a grand piano"{% endblock %}

{% block subProjectAuthor %}Photo: Catherine Yass{% endblock %}

{% block subProjectInfo %}With the kind support of MIRA.{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"balfron2.html"{% endblock %}

{% block prevProjectHref %}"pianoTesting1.html"{% endblock %}

{% block subProjectImgName %}pianoTesting2{% endblock %}



