{% extends 'multi-photo-sub-project.html' %}



{% block subProjectTitle %}Electronic release{% endblock %}

{% block subProjectAlt %}"Photo of an electronic release"{% endblock %}

{% block subProjectAuthor %}12vdc, rated at 350kg{% endblock %}

{% block subProjectInfo %}{% endblock %}


{% block aboutProject %}
{% endblock %}


{% block nextProjectHref %}"aeolianPiano.html"{% endblock %}

{% block prevProjectHref %}"balfron2.html"{% endblock %}

{% block subProjectImgName %}release{% endblock %}



